* {
    border-style: border-box;
    padding: 0;
    margin: 0;
}

body,html{
    height: 100vh;
}
body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

div{
    border: 1px solid blue;
}

nav{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

main{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 15px;
    height: 100%;
}

.cards-area{
    gap: 15px;
}

.top-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-side{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.left-side{
    display: flex;
    width: 50%;
    gap: 10px;
}

input{
    width: 250px;
}


.small-pfp, .tegan-pfp, .kendall-pfp, .alex-pfp{
    height: 50px;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-greeting {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-greeting-left{
    display: grid;
    grid-template-columns: 100px auto ;
    grid-template-rows: 50px 50px;
    width: 100%;
}


.big-pfp{
    height: 100px;
    width: auto;
    grid-row-start: 1;
    grid-row-end: 3;
}

.buttons{
    display: flex;
    align-items: center;
    width: 30%;
    gap: 15px;
}

.name{
    grid-column-start: 2;
    grid-column-end: 3;
    
}